<div class="notes-container row">
    <div class="page-header">
        <h1>投稿一覧</h1>
    </div>
    <div class="col-center">
    	<ul class="notes">
        	<%= render @notes %>
    	</ul>
	</div>
</div>
<div id="pagination">
	<%= will_paginate %>
</div>