<h1>Index image</h1>
<% @feeds.each do |feed| %>
	<ul>
		<li><%= image_tag(feed.image.url) %>
		<li><%= link_to '編集', edit_feed_path(feed.id) %></li>
		<li><%= link_to '削除', feed_path(feed.id), method: :delete, data: {confirm: '本当に削除しますか？'} %></li>
	</ul>
<% end %>
